<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="bag" />

    <node pkg="tf" type="static_transform_publisher" name="swri_transform" args="0 0 0 0 0 0 /map /check 100"  />
    <!-- Si se configura en 'auto', publica la primera posicion del gps (esta será el orig del sistema de coordenadas map) en el mensaje /local_xy_origin -->
    <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" >
        <!-- <remap from="/fix" to="/gps/fix" />  REMAPEAR TOPICO SI NO SE LLAMA /fix--> 
        <param name="local_xy_frame" value="/map"/>
        <param name="local_xy_origin" value="auto"/>
    </node> 

    <!-- Levanta mapviz -->    
    <node pkg="mapviz" type="mapviz" name="mapviz"/>
    
    <!-- Reproduce el rosbag -->
    <node pkg="rosbag" type="play" name="rosbag_play" output="screen"  args="-d 2 $(arg bag)"/>
</launch>
